/* Add a background color to the header element */
header {
    background-color: #105e13;
  }
  
/* Add a fun background color to the main element */
main {
    background-color: #000000;
  }
/* Align the h1 containing your name in the center of the header*/
header h1 {
    text-align: center;
  }
/* Make your p tag a different color and italic */
p {
    color: #000000;
    font-style: italic;
  }
/* Put a border around your image */
img {
    border: 2px solid #000000;
  }
/* Change the font-family of your list */
ul {
    font-family: 'Arial', sans-serif;
  }
  
/* Add a background color to the footer element */
Footer {
    background-color: #105e13;
  }